@model MySpace.Entities.ViewModel.MyJournalViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<div class="container">
    <div class="text-center">
        <h3>@Model.Year</h3>
    </div>
</div>

